@page "/Create/Ventas/"
@inject VentaServices ventaService
@inject ToastService notifications
@rendermode InteractiveServer

@attribute [Authorize(Roles = "Admin")]

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<EditForm Model="ventas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de Ventas</h3>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="CompraId" class="form-label">VentaId:</label>
                    <div class="input-group">
                        <div class=" sizeid">
                            <InputNumber @bind-Value="ventas.VentaId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label for="Comprador" class="form-label">Comprador:</label>
                <InputText @bind-Value="ventas.Comprador" class="form-control" />
                <ValidationMessage For="@(() => ventas.Comprador)" />
            </div>

            <div class="mb-3">
                <label for="Vendedor" class="form-label">Vendedor:</label>
                <InputText @bind-Value="ventas.Vendedor" class="form-control" />
                <ValidationMessage For="@(() => ventas.Vendedor)" />
            </div>

            <fieldset class="border-success border border-1">
                <h3>Productos</h3>
                <div>
                    <div class="row">
                        <div class="col-3">
                            <label>Productos</label>
                            <div class="input-group mb-3">
                                <InputSelect class="form-select" @bind-Value="productoSeleccionado" @oninput="OnProductoSeleccionado">
                                    <option value="0" disabled selected>Seleccione un producto</option>
                                    @foreach (var producto in Lista_Productos)
                                    {
                                        <option value="@producto.ProductoId">@producto.Nombre</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>

                        <div class="col-3">
                            <label>Cantidad</label>
                            <div class="input-group mb-3">
                                <InputNumber @bind-Value="ventasDetalle.UnidadUtilizada" class="form-control"></InputNumber>
                            </div>
                        </div>

                        <div class="col-3">
                            <label>Precio</label>
                            <div class="input-group mb-3">
                                <InputNumber @bind-Value="ventasDetalle.Precio" class="form-control" readonly></InputNumber>
                            </div>
                        </div>

                        <div class="col">
                            <button type="button" @onclick="AgregarDetalle" class="btn btn-outline-primary"><i class="bi bi-plus">Agregar</i></button>
                        </div>


                    </div>

                    <br>
                    <table class="table table-bordered table-light m-1">
                        <thead class="thead">
                            <tr class="table">
                                <th>Nombre del producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var trabajoDetalles in Lista_VentaDetalle)
                            {
                                <tr>
                                    <td>@ObtenerNombre(trabajoDetalles.ProductoId)</td>
                                    <td>@trabajoDetalles.UnidadUtilizada</td>
                                    <td>@trabajoDetalles.Precio</td>
                                    <td><button @onclick="@(() => RemoverDetalle(trabajoDetalles))" class="btn btn-outline-danger" type="button"><i class="bi bi-trash">Eliminar</i></button></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <h5>Total: RD$ @Lista_VentaDetalle.Sum(d => d.Precio * d.UnidadUtilizada)</h5>

                </div>
            </fieldset>
        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Index/Ventas/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder </a>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Ventas ventas { get; set; } = new Ventas();
    private bool Existe = false;
    public int productoSeleccionado { get; set; }
    public VentasDetalle ventasDetalle { get; set; } = new VentasDetalle();
    public List<VentasDetalle> Lista_VentaDetalle { get; set; } = new List<VentasDetalle>();
    public List<Productos> Lista_Productos { get; set; } = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        Lista_Productos = await ventaService.GetProductos();
    }

    public void Nuevo()
    {
        ventas = new Ventas();
        Existe = false;
    }

    public async Task Guardar()
    {
       
        ventas.VentasDetalles = Lista_VentaDetalle;
        var guardo = await ventaService.Guardar(ventas);
        if (guardo)
        {
            Nuevo();
        }
    }

    public void AgregarDetalle()
    {
        var seleccionProducto = Lista_Productos
        .FirstOrDefault(p => p.ProductoId == productoSeleccionado);

        if (seleccionProducto != null && ventasDetalle.UnidadUtilizada > 0)
        {
            ventasDetalle.Precio = seleccionProducto.Precio;

            var detalleNuevo = new VentasDetalle
                {
                    ProductoId = seleccionProducto.ProductoId,
                    UnidadUtilizada = ventasDetalle.UnidadUtilizada,
                    Precio = seleccionProducto.Precio
                };


            ventas.Total += ventasDetalle.Precio * ventasDetalle.UnidadUtilizada; 
            Lista_VentaDetalle.Add(detalleNuevo);
            ventasDetalle = new VentasDetalle();
            productoSeleccionado = 0;
        }

    }

    public void RemoverDetalle(VentasDetalle detalleRemover)
    {
        Lista_VentaDetalle.Remove(detalleRemover);
        ventas.Total -= ventasDetalle.Precio * ventasDetalle.UnidadUtilizada;
        productoSeleccionado = detalleRemover.ProductoId;
        ventasDetalle.UnidadUtilizada = detalleRemover.UnidadUtilizada;
        ventasDetalle.Precio = detalleRemover.Precio;

    }

    public string ObtenerNombre(int Id)
    {
        return Lista_Productos.Where(p => p.ProductoId == Id).FirstOrDefault().Nombre;
    }

    private void OnProductoSeleccionado(ChangeEventArgs e)
    {
        var productoId = Convert.ToInt32(e.Value);
        var producto = Lista_Productos.FirstOrDefault(p => p.ProductoId == productoId);
        if (producto != null)
        {
            ventasDetalle.Precio = producto.Precio;
        }
    }

}
