@page "/Detail/Productos/"
@page "/Detail/Productos/{ProductoId:int}"
@inject ProductoServices productoService

@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles del combo</PageTitle>

@if (productos != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del combo</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>ComboId:</strong> @productos.ProductoId</li>
                                <li><strong>Nombre:</strong> @productos.Nombre</li>
                                <li><strong>Descripcion:</strong> @productos.Descripcion</li>
                                <li><strong>Fecha de vencimiento:</strong> @productos.FechaVencimiento</li>
                                <li><strong>CategoriaId:</strong> @productos.CategoriaId</li>
                                <li><strong>Costo:</strong> @productos.Costo</li>
                                <li><strong>Precio:</strong> @productos.Precio</li>
                                <li><strong>Existencia:</strong> @productos.Existencia</li>
                                <li><strong>Cantidad:</strong> @productos.Cantidad</li>
                                @*@foreach (var detalle in Lista_CombosDetalles)
                                {
                                    <li><strong>Articulo: </strong>@detalle.Articulos.Descripcion</li>
                                }*@
                                <li><strong>Monto total:</strong> @productos.Precio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>No se halló el trabajo.</p>
}

@code {
    [Parameter]
    public int ProductoId { get; set; }
    public Productos? productos { get; set; } = new Productos();
   //public List<RegistroComboDetalle> Lista_CombosDetalles { get; set; } = new List<RegistroComboDetalle>();

    protected override async Task OnInitializedAsync()
    {
        productos = await productoService.Buscar(ProductoId);
        //Lista_CombosDetalles = await registroComboService.BuscarTrabajoDetalle(ComboId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Index/Productos/");
    }
}